/*Открыть - Общие формы*/
.label{
  display: block;
  height: 26px;
  font-family: 'fira_sanslight';
  font-size: 19px;
  color: #959aa8;
}
textarea {
  resize: none;
}
.button {
  font-family: 'fira_sansbook';
  font-size: 19px;
  line-height: 28px;
  padding: 2px 22px;
  color: #fff;
  border-radius: 5px;
}
.button-submit {
  border: 0 #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  background: #48cbe8;
}
.button-submit:hover {
  background: #4fdefe;
}
.button-login {
  font-family: 'fira_sansbook';
  font-size: 36px;
  line-height: 36px;
  padding: 11px 63px;
  color: #fff;
  border-radius: 5px;
  border: 0 #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  background: #48cbe8;
  margin-bottom: 25px;
}
.button-login:hover {
  background: #4fdefe;
}
.button-reset {
  border: 0 #849db5;
  border-bottom: 2px solid #687b8f;
  background: #849db5;
}
.button-reset:hover {
  background: #a2b5c7;
}

/*Задаём стиль для плейсхолдера*/
::-webkit-input-placeholder {color:#48cbe8;}
::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8;}

/*Задаем цвет проверки полей*/

.has-success{
  border-color: #6ae84d;
  background: #d2fdd4;
}
.has-error{
  border-color: #f97e76;
  background: #fdd5d2;
}

/*Закрыть - Общие формы*/


/*Открыть - Форма вставки файлов*/
.textarea{
  width: 400px;
}
.input {
	height: 21px;
    line-height: 39px;
    display: block;
}
.input, .textarea {
    display: inline-block;
	position: relative;
    padding: 10px;
    margin-bottom: 12px;
	background: #fff;
	font-family: 'fira_sanslight';
    font-size: 13px;
    line-height: 21px;
    color: #48cbe8;
	border: 1px solid #48cbe8;
	border-radius: 4px;
    outline: none;
    overflow: hidden;
}
.input-file [type=file] {
	display: block;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	cursor: pointer;
}
.input-file-image {
    position: relative;
    cursor: pointer;
}
.input-file-image-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 41px;
    content: '';
    background: #48cbe8 url(../img/upload-file.png) center no-repeat;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.input-file__text{
    width: 322px;
    float: left;
    height: 41px;
    margin: 0;
}
/*Закрыть - Форма вставки файлов