@import "../fonts/fonts.css";

body, html{
    height:100%;
	background: url(../img/bg.png);
}

body a {
	text-decoration: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " ";
	display: table;
}
.container:after, .clearfix:after {
  clear: both;	
}

.wrapper {
	min-height:100%;
	min-width: 980px;
	height:auto!important;
	overflow:hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}

.header {
	width: 100%;
	min-width: 980px;
	height: 118px;
	background:#eff3f7 url(../img/line.png) bottom center no-repeat ;
	position: relative;
	margin-bottom: 39px;
}
.header_content {
	max-width: 1200px;
	min-width: 980px;
	height: 118px;
	margin: 0 auto;
	position:relative;
}

.logo {
	width: 243px;
	height: 47px;
	position:absolute;
	top:35px;
	left:0;
}
.logo-text {
	position: absolute;
	font-size:0;
	top:35px;
	left:0;
}

.socials{
	margin: 35px 0;
	padding: 0;
	position: absolute;
	min-width: 260px;
	right: 0;
}
.socials-item {
	list-style: none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left: 19px;
}
.socials-item:first-child {
	margin-left: 0;
}
.socials-link {
	display: block;
	height: 100%;
	width: 100%;
}
.social-text {
	position: absolute;
	font-size:0;
}
.socials .socials-link.vk {background: url(../img/vk.png) no-repeat;}
.socials .socials-link.vk:hover {background: url(../img/vk-active.png) no-repeat;}
.socials .socials-link.tw {background: url(../img/twitter.png) no-repeat;}
.socials .socials-link.tw:hover  {background: url(../img/twitter-active.png) no-repeat;}
.socials .socials-link.fb {background: url(../img/fb.png) no-repeat}
.socials .socials-link.fb:hover {background: url(../img/fb-active.png) no-repeat}
.socials .socials-link.git {background: url(../img/git.png) no-repeat}
.socials .socials-link.git:hover {background: url(../img/git-active.png) no-repeat}

.sidebar {
	width: 260px;
	float: left;
}

.nav {
	background: #eff3f7;
	width: 250px;
	margin-bottom: 24px;
	border-radius: 4px;
	overflow:hidden;
	font-size: 21px;
	font-family: 'fira_sansbook';
}
.nav .nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav .nav-item{
	border-top: 2px solid #3ba8c0;
	margin: 0 10px;
	height: 71px;
}
.nav .nav-item:first-child {
	border-top:none;
}
.nav-link{
	position: relative;
	padding: 20px 17px 0;
	color: #959aa8;
	display: block;
}
.nav-link:hover{
	color: #3ba8c0;
}
.nav-item.active{
	position: relative;
	padding: 0 11px 2px;
	background: #3ba8c0;
	margin: 0;
	margin-bottom: -2px;
	font-size: 23px;
	font-family: 'fira_sansbook';
}
.nav-item.active .nav-link{
	color: #ffffff;
}

.contacts {
	display: block;
	width: 250px;
	margin-bottom: 24px;
	border-radius: 5px;
	overflow:hidden;
	color: #ffffff;
	font-family: 'fira_sansbook';
	font-size: 21px;
}
.contacts-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.contacts-item {
	padding-left: 82px;
	color: #ffffff;
}
.contacts-link{
	font-style: normal;
}
.contacts-link:hover{
	text-decoration: underline;
	color: #ffffff;
}
.contacts_title {
	height: 32px;
	background: #3ba8c0;
	padding:8px 0 0 20px;
	font-style: normal;
}
.contacts-item.mail,.contacts-item.phone,.contacts-item.skype{
	height: 32px;
	font-size: 17px;
	padding-top: 8px;
}
.contacts-item.mail {
	background: url(../img/mail.png) 43px center no-repeat;
	background-color:  #41b9d4;
}
.contacts-item.phone {
	background: url(../img/phone.png) 43px center no-repeat;
	background-color: #48cbe8;
}
.contacts-item.skype {
	background: url(../img/skype.png) 43px center  no-repeat;
	background-color: #51daf8;
}

.content {
	width: 650px;
	float: right;
	padding: 0;
}

.section-box {
	background: #eff3f7;
	width: 650px;
	border-radius: 4px;
	margin-bottom: 26px;
	padding-bottom: 34px;
}
.section-box-header {
	padding: 14px 22px 12px;
	margin: 0 0 17px 0;
	color: #3ba8c0;
	font-size: 27px;
    display: table;
    border-bottom: 2px solid #3ba8c0;
    font-family: 'fira_sansbook';
   	font-size: 27px;
}

.photo-wrap {
	margin: 18px 0 0 54px;
	float: left;
}
.photo {
	width:140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}

.avatar{
	width:100%;
}

.about-me {
	width: 420px;
	float: right;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.about-me.dt {
	color:#4a545d;
	float:left;
	padding: 0;
	margin: 0 17px 5px 0;
	font-family: 'fira_sansmedium';
	font-size: 17px;
    clear:left;
    width: auto;
}
.about-me.dd {
	position: relative;
	float:left;
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-family: 'fira_sansbook';
	font-size: 15px;
	color: #4a545d;
	width: auto;
}

.skills {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	width: 240px;
}
.skills-item {
	margin: 7px 5px 4px 0;
	padding: 1px 14px;
	font-family: 'proxima_novasemibold';
	font-size: 14px;
	vertical-align: center;
	color: #ffffff;
	display: inline-block;
	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(50%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(100%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 50%,#2e8ca2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 50%,#2e8ca2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 50%,#2e8ca2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 50%,#2e8ca2 50%,#2e8ca2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	border-radius: 2px;
}

.experience, .edu, .course{
	padding: 0 0 0px 125px;
	margin-bottom: 5px;
	color: #4a545d;
}
.experience-title, .edu-title, .course-title{
	font-family: 'fira_sansbook';
	font-size: 17px;
	margin: 18px 0 -8px 0;
	display: block;
}
.experience-description, .edu-description, .course-description{
	font-family: 'fira_sanslight';
	font-size: 15px;
	display: block;
}
.experience{
	background: url(../img/bag.png) 58px center no-repeat;
}
.edu {
	background: url(../img/header.png) 55px center no-repeat;
}
.course {
	background: url(../img/doc.png) 64px center no-repeat;
}

.footer {
	min-width: 980px;
	height: 80px;
	margin-top: -80px;	
	background:#eff3f7 url(../img/line.png) top center no-repeat ;
	position: relative;
	font-family: 'fira_sanslight';
	font-size: 13px;
	height: 80px;
}
.login-link{
	position: relative;
	float: left;
	top: 26px;
	left: 30px;
	width: 20px;
	height: 32px;
	background: url(../img/lock.png) center left no-repeat;
	font-size: 0;
}

.login-link:hover {
	background: url(../img/unlock.png) center left no-repeat;
}

.copyrights {
	margin: 0 50px;
	position: relative;
	top: 36px;
	text-align: center;
}